.header{
    color: white;
    font-style: italic;
}
.indexh {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-style: inherit;
}
.slink{
    color: white;
}
.footer{
    color: crimson;
    font-style: oblique;
}